<div class="main">
    <div class="sub card">
        <div class="header ">
            <img src="assets/user1.png" alt="" width="50px">
        </div>
        <form [formGroup]="userdata">
            <div class="col-lg-8 mx-4 mb-3 mt-4">
                <label for="user-email" class="form-label">User Email</label>
                <input type="email" name="user" id="user-email" class="form-control" formControlName="email">
            </div>
            <div class="col-lg-8 mx-4 mb-3 mt-4">
                <label for="pass" class="form-label">Password </label>
                <input type="password" name="password" id="pass" class="form-control" formControlName="password">
            </div>
            <div class="mx-4">
                <a href="">
                    <p>Forget password?</p>
                </a>
            </div>
            <div class="button-division mx-4 ">
                <button class="btn bg-info fw-bold text-center text-white" (click)="getdata()">Login</button>
                <button class="btn bg-success fw-bold text-center text-white " style="margin-left: 180px;"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">Register</button>

            </div>

            <div>

            </div>

        </form>

    </div>
</div>

<!-- mdals for register -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="head text-center bg-success fw-bold w-100">
                    <h3>Registerations</h3>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="register">
                    <div class="mt-3mb-3">
                        <div class="col-lg-8 mx-4 mb-3 mt-4">
                            <label for="user-name" class="form-label">User name</label>
                            <input type="text" name="user" id="user-name" class="form-control" formControlName="name">
                        </div>
                        <div class="col-lg-8 mx-4 mb-3 mt-4">
                            <label for="user-email" class="form-label">User Email</label>
                            <input type="email" name="user" id="user-email" class="form-control" formControlName="email">
                        </div>
                        <div class="col-lg-8 mx-4 mb-3 mt-4">
                            <label for="pass" class="form-label">Password </label>
                            <input type="password" name="password" id="pass" class="form-control"
                                formControlName="password">
                        </div>
                        <div class="col-lg-8 mx-4 mb-3 mt-4">
                        <label for="user-role" class="form-label">User Role</label>
                            <select class="form-select" aria-label="Default select example" formControlName="role">
                                <option selected>Select any one</option>
                                <option value="1">Admin</option>
                                <option value="2">Manager</option>
                                <option value="3">User</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="getdatareg()">Save </button>
            </div>
        </div>
    </div>
</div>